html {
    background-color: #3993DD;
    color: #FFFFFF;
}

body {
    font-family: Verdana;
    font-size: 18px;
    text-align: center;
}

header {
    padding-bottom: 1em;
}

main {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75);
    width: 75%;
    padding: 1em;
    margin: auto;
}

section {
    color: #000000;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: left;
}

.input-text {
    min-height: 2em;
    min-width: 3em;
}

#dropdown {
    min-height: 2em;
}


ul {
    list-style: none;
    padding-left: 0px;
}

li {
    padding-bottom: .25em;
}

#comment {
    text-align: center;
}

textarea {
    height: 6em;
    width: 16em;
    text-align: left;
}

#button {
    text-align: center;
    padding: 1em;
}

button {
    color: #FFFFFF;
    background-color: #3993DD;
    border: none;
    border-radius: 40px;
    padding: 1em 2em;
    box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, .75);
    transition: all ease-in-out 250ms;
}

button:hover {
    transform: translateY(-8px);
    box-shadow: 0px 18px 8px -10px rgba(0, 0, 0, .6);
}

@media (min-width: 600px) {
    section {
        display: inline-block;
        padding-top: 10px;
    }

    .label {
        float: left;
        float: clear;
    }

    .content {
        float: right;
        float: clear;
    }
    
    #radio {
        display: flex;
        flex-direction: column;
    }
    
    #checkbox {
        display: flex;
        flex-direction: column;
    }
    
      ul {
        text-align: justify;
        padding: 0 0 0 10em;  
    }
    
    #comment {
        display: flex;
    }
}
