html {
    background-color: #3993DD;
    color: #FFFFFF;
}

body {
    font-family: Verdana;
    font-size: 18px;
    text-align: center;
}

header {
    padding-bottom: 1em;
}

main {
    background-color: #FFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75);
    width: 75%;
    padding: 1em;
    margin: auto;
}

section {
    color: #000000;
    padding-top: 20px;
    text-align: left;
}

.input-text {
    min-height: 2em;
    min-width: 3em;
}

#dropdown {
    min-height: 2em;
}


ul {
    list-style: none;
    padding-left: 10px;
}

li {
    padding-bottom: .25em;
}

#comment {
    text-align: center;
}

textarea {
    height: 6em;
    width: 16em;
    text-align: left;
}

#button {
    text-align: center;
    padding: 1em;
}

button {
    color: #FFFFFF;
    background-color: #3993DD;
    border: none;
    border-radius: 40px;
    padding: 1em 2em;
    box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, .75);
    transition: all ease-in-out 250ms;
}

button:hover {
    transform: translateY(-8px);
    box-shadow: 0px 18px 8px -10px rgba(0, 0, 0, .6);
}

@media (min-width: 600px) {
    section {
        flex-direction: row;
    }

    #radio-section {
        flex-direction: column;
    }

    #checkbox-section {
        flex-direction: column;
    }

    #comment-section {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 800px) {
    #name-section {
        display: inline-block;
    }

    #email-section {
        display: inline-block;
    }

    #age-section {
        display: inline-block;
    }

    #dropdown-section {
        flex-direction: column;
        text-align: center;
    }

    .label {
        padding-right: 50px;
    }

    .content {
        padding-left: 25px;
    }

    #dropdown-label {
        padding-right: 20px;
    }
}
